{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <img class="d-block w-100" src="/static/14.jfig.jpg" alt="...">
</div>
<div class="aboutus">
    <style>
        p {
          color: dark;
          text-indent: 90px;
          text-transform: uppercase;
          text-align:center;
          font-size:40px;
          background:#6CF7E6;
          opacity:0.5;
        }
        h1{
            font-weight: bold;
            color:#343a40;
            text-align:center;
        }
    </style>
<h1>LET US TELL YOU ABOUT US</h1>
<p>
We believe
Learning is the source of human progress.

It has the power to transform our world
from illness to health,
from poverty to prosperity,
from conflict to peace.

It has the power to transform our lives
for ourselves,
for our families,
for our communities.

No matter who we are or where we are,
learning empowers us to change and grow
and redefine what’s possible.
That’s why access to the best learning is a right, not a privilege.

And that’s why Coursera is here.
We partner with the best institutions
to bring the best learning
to every corner of the world.

So that anyone, anywhere has the power to
transform their life through learning.
</p>
</div>

{% endblock body%}